SECRET_KEY=django-insecure-cambia-esto-por-una-clave-generada
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=school_portal_db
DB_USER=school_portal_user
DB_PASSWORD=tu_contraseña_segura
DB_HOST=localhost
DB_PORT=5432