<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Inicio{% endblock title %} | CBTA 108</title>

    {% load static %}

    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Lora:400,400i,700,700i" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
  </head>

  <body>
    <!--Header Section-->
    <div class="site-heading-wrapper d-none d-lg-flex align-items-center">
      <img src="{% static 'img/logo.png' %}" alt="CBTA 108" class="site-heading-logo mr-4">
      <h1 class="site-heading text-white mb-0">
        <span class="site-heading-upper text-primary mb-3">Formando futuro con ciencia y oficio</span>
        <span class="site-heading-lower">Centro de Bachillerato Tecnológico Agropecuario No. 108</span>
      </h1>
    </div>

    <div class="site-heading-wrapper-mobile d-flex d-lg-none align-items-center text-center flex-column">
      <img src="{% static 'img/logo.png' %}" alt="CBTA 108" class="site-heading-logo-mobile mb-2">
      <h1 class="site-heading-mobile text-white mb-0">
        <span class="site-heading-upper-mobile text-primary">Formando futuro con ciencia y oficio</span>
        <span class="site-heading-lower-mobile">CBTA 108</span>
      </h1>
    </div>
    
    <!--NavBar Section-->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto align-items-lg-center">

    <li class="nav-item px-lg-4 {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
        <a class="nav-link text-uppercase text-expanded" href="{% url 'core:home' %}">Inicio</a>
    </li>

    <li class="nav-item dropdown px-lg-4">
        <a class="nav-link dropdown-toggle text-uppercase text-expanded" href="#" id="conocenosDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Conócenos
        </a>
        <div class="dropdown-menu" aria-labelledby="conocenosDropdown">
            <a class="dropdown-item" href="{% url 'core:pagina_institucional' 'historia' %}">Historia</a>
            <a class="dropdown-item" href="{% url 'core:pagina_institucional' 'mision' %}">Misión</a>
            <a class="dropdown-item" href="{% url 'core:pagina_institucional' 'vision' %}">Visión</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'core:contacto' %}">Contáctanos</a>
        </div>
    </li>

    <li class="nav-item px-lg-4 {% if 'alumnos' in request.path %}active{% endif %}">
        <a class="nav-link text-uppercase text-expanded" href="#">Alumnos</a>
    </li>

    <li class="nav-item px-lg-4 {% if 'maestros' in request.path %}active{% endif %}">
        <a class="nav-link text-uppercase text-expanded" href="#">Maestros</a>
    </li>

    <li class="nav-item px-lg-4 {% if 'oferta-educativa' in request.path %}active{% endif %}">
      <a class="nav-link text-uppercase text-expanded" href="{% url 'carreras:lista' %}">Oferta educativa</a>
    </li>

    <li class="nav-item px-lg-4 {% if request.resolver_match.url_name == 'admision' %}active{% endif %}">
      <a class="nav-link text-uppercase text-expanded" href="{% url 'admision:admision' %}">Admisión</a>
    </li>
    
    <li class="nav-item px-lg-4 {% if 'avisos' in request.path or 'blog' in request.path %}active{% endif %}">
        <a class="nav-link text-uppercase text-expanded" href="#">Avisos</a>
    </li>

    <li class="nav-item px-lg-4">
        <a class="btn btn-primary btn-sm text-uppercase font-weight-bold login-btn" href="{% url 'admin:index' %}" target="_blank">Log-in</a>
    </li>

</ul>
        </div>
      </div>
    </nav>

    {% block content %} {% endblock content %}
    
    <!--Footer section -->
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0">
           <a href="https://dgetaycm.sep.gob.mx/" class="link" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-university fa-stack-1x fa-inverse"></i>
              </span>
            </a>
            <a href="https://www.gob.mx/becasbenitojuarez/articulos/beca-universal-de-educacion-media-superior-benito-juarez" class="link" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
              </span>
            </a>
        </p>
        <p class="m-0 mbt">
          <a href="#" class="link">Política de privacidad</a> ·
          <a href="#" class="link">Aviso legal</a> ·
          <a href="#" class="link">Cookies</a>
        </p>
        <p class="m-0 mbt1">&copy; Centro de Bachillerato Tecnologico Agropecuario Num. 108 </p>
      </div>
    </footer>

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </body>

</html>